/* CSS Document */
* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 8px;
    padding: 1px;
    border: 1px grey solid;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h2{
    margin-bottom: 15px;
}

p{
    padding-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 5px;
    position:fixed;
    bottom:0;left:0;right:0;height:30px;
}

.all{
    display: grid;
    grid-template-rows: auto auto;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 3%;
}

.titletop {
    text-align: center;
}

.titletop>h1{
    margin-bottom: 10px;
}

.titleTop {
    font-size: 50px;
    color: rgb(173, 161, 161);
}

.bottom{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
}

.left{
    border-bottom: 1px rgb(173, 161, 161);
    padding-right: 15px;
}

.right{
    border-bottom: 1px rgb(173, 161, 161);
    border-left: 1px rgb(173, 161, 161);
    width: 70%;
    padding-left: 15px;
}

.titlebot{
    font-size:larger;
    font-weight: 900;
}

.titlebot2{
    font-size:larger;
    font-weight: 900;
    margin-top: 20px;
}

.comments{
    font-style: italic;
    font-size: small;
    font-weight: bold;
    background-color:rgb(173, 161, 161);
    border-radius: 8px;
    padding: 8px;
}

